extends ../layout

block content
  h1 Sign In

  if error
    p(style="color:red;")= error

  form(action="/auth/login" method="POST")
    label(for="username") Username:
    input(type="text" id="username" name="username" required placeholder="Enter your username")

    label(for="password") Password:
    input(type="password" id="password" name="password" required placeholder="Enter your password")

    .actions
      input(type="submit" value="Sign In")
      p Don't have an account? 
        a(href="/auth/register") Create Account 