extends ../layout

block content
  h1 Sign In

  // Display validation errors
  if errors && errors.length > 0
    .alert.alert-error
      ul
        each error in errors
          li= error.msg

  form(action="/auth/login" method="POST")
    .form-group
      label(for="username") Username or Email:
      input(type="text" id="username" name="username" required 
            placeholder="Enter your username or email" 
            value=formData.username || "")

    .form-group
      label(for="password") Password:
      input(type="password" id="password" name="password" required 
            placeholder="Enter your password")

    .actions
      input(type="submit" value="Sign In")
      p Don't have an account? 
        a(href="/auth/register") Create Account 