header
  nav
    a(href="/") Home
    a(href="/movies") Movies
    if session.userId
      form.logout-form(action="/auth/logout", method="POST")
        button.btn-logout(type="submit") Logout
    else
      a(href="/auth/login") Login
      a(href="/auth/register") Register
