extends layout.pug

block content
  h1 Welcome to the Movies Application
  p Explore and manage your movie collection.
  a(href="/movies") View Movies
  if !session.userId
    p
      a(href="/auth/register") Register
      |  or 
      a(href="/auth/login") Login