<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    include partials/header.pug
    .container
      include partials/flash.pug
      block content
    include partials/footer.pug
    include partials/delete-modal.pug
    
    // Scripts
    script(src="/js/main.js")
