<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    include partials/header.pug
    .container
      block content
    include partials/footer.pug
    
    // Scripts
    script(src="/js/main.js")
    // Load stagewise only in development
    if process.env.NODE_ENV !== 'production'
      script(src="/js/stagewise-helpers.js")
      script(src="/js/stagewise-init.js")
