extends ../layout

block content
  .error-container
    .error-icon 🎬
    h1.error-title 404 - Page Not Found
    p.error-message The movie you're looking for seems to have left the theater!
    .error-actions
      a.btn-primary(href="/movies") Browse Movies
      a.btn-secondary(href="/") Go Home