extends ../layout

block content
  .error-container
    .error-icon 🎭
    h1.error-title 500 - Server Error
    p.error-message Something went wrong behind the scenes. Our technical crew is working on it!
    .error-actions
      a.btn-primary(href="/movies") Try Again
      a.btn-secondary(href="/") Go Home